
@model IEnumerable<UrumsalWeb.Models.Model.Slider>



<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        @foreach(var item in Model)
        {

           <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"> <span>@item.Baslik</span></h2>
                <p>@item.Aciklama</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Devamını Oku</a>
            </div>
        </div>
        }
        </div>
        </section>